<%- include("partials/header.ejs") %>

<div class="page">
  <h1 class="topic">Today</h1>
      
  <div class="todo" id="checklist">
      <input checked="" value="1" name="r" type="checkbox" id="01">
      <label for="01">Bread and other text to make the div bigger just to see how it ark</label>
      <input value="2" name="r" type="checkbox" id="02">
      <label for="02">Cheese</label>
      <input value="3" name="r" type="checkbox" id="03">
      <label for="03">Coffee</label>
  </div>
  
  <form class="newTaskForm" action="/add" method="POST">
    <div class="formItems">
      <div class="taskName">
        <input type="text" class="form-control" placeholder="New task">
      </div>
      <div class="container addButton">
        <button type="submit" class="button" >
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
        </button>
      </div>
    </div>
    
  </form>
</div>



<%- include("partials/footer.ejs") %>