.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
 
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
}
 
.bg3 {
    animation-duration:5s;
}
 
.content {
    background-color:rgba(255,255,255,.8);
    border-radius:.25em;
    box-shadow:0 0 .25em rgba(0,0,0,.25);
    box-sizing:border-box;
    left:50%;
    padding:10vmin;
    position:fixed;
    text-align:center;
    top:50%;
    transform:translate(-50%, -50%);
}
 
h1 {
    font-family:monospace;
}
 
@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
 
    100% {
        transform:translateX(25%);
    }
}

.menu {
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

button{
    /*margin-top: 25px;*/
    padding: 10px 10px;
    background-color: rgb(0,0,0,0);
    color: hsl(0, 0%, 1%);
    font-weight: bold;
    border: double;
    border-radius: 50%;
    letter-spacing: 4px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}

#checklist {
    --background: #fff;
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --width: auto;
    --height: auto;
    --border-radius: 10px;
    background: var(--background);
    width: var(--width);
    height: var(--height);
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 30px 85px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
  }
  
#checklist label {
color: var(--text);
position: relative;
cursor: pointer;
display: grid;
align-items: center;
width: fit-content;
transition: color 0.3s ease;
margin-right: 20px;
}

#checklist label::before, #checklist label::after {
content: "";
position: absolute;
}

#checklist label::before {
height: 2px;
width: 8px;
left: -27px;
background: var(--check);
border-radius: 2px;
transition: background 0.3s ease;
}

#checklist label:after {
height: 4px;
width: 4px;
top: 8px;
left: -25px;
border-radius: 50%;
}

#checklist input[type="checkbox"] {
-webkit-appearance: none;
appearance: none;
-moz-appearance: none;
position: relative;
height: 15px;
width: 15px;
outline: none;
border: 0;
margin: 0 15px 0 0;
cursor: pointer;
background: var(--background);
display: grid;
align-items: center;
margin-right: 20px;
margin-top: auto;
}

#checklist input[type="checkbox"]::before, #checklist input[type="checkbox"]::after {
content: "";
position: absolute;
height: 2px;
top: auto;
background: var(--check);
border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
width: 0px;
right: 60%;
transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
width: 0px;
left: 40%;
transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
color: var(--disabled);
animation: fadeIn 600ms;
}

#checklist input[type="checkbox"]:checked + label::before {
background: var(--disabled);
animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
    animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
50% {
    padding-left: 8px;
    padding-right: 0px;
}

100% {
    padding-right: 4px;
}
}

@keyframes slice {
60% {
    width: 100%;
    left: 4px;
}

100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
}
}

@keyframes check-01 {
0% {
    opacity: 1;
    width: 4px;
    top: auto;
    transform: rotate(0);
}

50% {
    opacity: 0.7;
    width: 0px;
    top: auto;
    transform: rotate(0);
}

51% {
    opacity: 0.7;
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
}

100% {
    opacity: 0.5;
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
}
}

@keyframes check-02 {
0% {
    opacity: 1;
    width: 4px;
    top: auto;
    transform: rotate(0);
}

50% {
    opacity: 0.7;
    width: 0px;
    top: auto;
    transform: rotate(0);
}

51% {
    opacity: 0.7;
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
}

100% {
    opacity: 0.5;
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
}
}

@keyframes firework {
0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
}

50% {
    opacity: 0.5;
}

100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0, 14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0, -14px -8px 0 0px #4f29f0;
}
}



