html {
    height:100%;
}
 
body {
    margin:0;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newTaskForm {
    margin-top: 40px;
}

.formItems {
    display: flex;
    align-items: baseline;
}

.taskName {
    width: 400px;
}

.addButton {
    width: auto;
}

.todoItem {
    display: flex;
}
